# Environment variables for Supabase and Google Sheets integration
SUPABASE_URL=https://sxhgkbqgzydugvbqvotz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4aGdrYnFnenlkdWd2YnF2b3R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyODAyODcsImV4cCI6MjA3NTg1NjI4N30.PtgtqjKHI_QcAglp2wmb-UgY4Raa9ULYKnCjpiwLmG4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4aGdrYnFnenlkdWd2YnF2b3R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyODAyODcsImV4cCI6MjA3NTg1NjI4N30.PtgtqjKHI_QcAglp2wmb-UgY4Raa9ULYKnCjpiwLmG4
GOOGLE_SHEETS_API=https://script.google.com/macros/s/AKfycbyLAUFNwYmN9b2aanC3dhlMrGt2CtZcpyxlwADSXkYqfY_EOnZmCOtoKkrfrw_7aVTn/exec